onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=less
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=better-sqlite3
